In [1]:
import numpy as np
import pandas as pd

In [3]:
names_df = pd.read_csv("~/Desktop/name_basics_improved.csv")
names_df.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,is_top_actor,is_top_director
0,nm0000001,fred astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0053137,tt0050419,tt0072308",0,0
1,nm0000002,lauren bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0071877",0,0
2,nm0000003,brigitte bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0049189,tt0056404",0,0
3,nm0000004,john belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0072562,tt0077975,tt0080455",0,0
4,nm0000005,ingmar bergman,1918,2007,"writer,director,actor","tt0060827,tt0050986,tt0050976,tt0083922",0,1

In [6]:
movies_df = pd.read_csv("../00_DATA/final_dataset.csv")
movies_df.head(5)

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,Game-Show,...,News,Reality-TV,Sci-Fi,Short,Sport,Talk-Show,War,Western,averageRating,numVotes
0,tt0035423,Kate & Leopold,Kate & Leopold,0,2001.0,118,0,0,1,0,...,0,0,0,0,0,0,0,0,6.4,81936.0
1,tt0036177,Muhomatsu no issho,Muhomatsu no issho,0,2008.0,100,0,0,0,0,...,0,0,0,0,0,0,0,0,7.3,113.0
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,70,0,0,0,0,...,0,0,0,0,0,0,0,0,6.3,157.0
3,tt0065392,Bucharest Memories,Amintiri bucurestene,0,2020.0,\N,0,0,0,0,...,0,0,0,0,0,0,0,0,7.4,12.0
4,tt0069049,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,0,0,0,0,...,0,0,0,0,0,0,0,0,6.8,6930.0

In [7]:
names_df['knownForTitles']

0           tt0031983,tt0053137,tt0050419,tt0072308
1           tt0038355,tt0037382,tt0117057,tt0071877
2           tt0057345,tt0054452,tt0049189,tt0056404
3           tt0078723,tt0072562,tt0077975,tt0080455
4           tt0060827,tt0050986,tt0050976,tt0083922
                             ...
11349385                       tt2455546,tt11657662
11349386                                         \N
11349387                                  tt8736744
11349388                                         \N
11349389                                         \N
Name: knownForTitles, Length: 11349390, dtype: object