# Merging all actors into a single & unique CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
# merging all csv files
df = pd.concat(
    map(pd.read_csv, ['all_popular_actors.csv', 'best_actors.csv', 'best_actors2.csv', 'best_actresses.csv', 'best_mixed_actors.csv']), ignore_index=True)
print(df)

           # actor_name
0        Morgan Freeman
1             Brad Pitt
2     Leonardo DiCaprio
3        Robert De Niro
4            Matt Damon
...                 ...
2089    Tiffany Haddish
2090  Timothée Chalamet
2091       Lucas Hedges
2092      Janelle Monáe
2093     Letitia Wright

[2094 rows x 1 columns]

# Removing duplicate names

In [3]:
df.drop_duplicates(subset ='# actor_name',
                     keep = False, inplace = True)
df

           # actor_name
200   Donald Sutherland
202        Adrien Brody
205        Tom Sizemore
206       Elliott Gould
210       Ewan McGregor
...                 ...
2073     Daniel Kaluuya
2075     Gina Rodriguez
2089    Tiffany Haddish
2092      Janelle Monáe
2093     Letitia Wright

[1151 rows x 1 columns]

In [4]:
df.to_csv('ALL_TOP_ACTORS.csv')

# Same for directors

In [5]:
# merging all csv files
df2 = pd.concat(
    map(pd.read_csv, ['best_directors.csv', 'all_popular_directors.csv']), ignore_index=True)
print(df2)

         # director_name
0       Steven Spielberg
1        Martin Scorsese
2       Alfred Hitchcock
3        Stanley Kubrick
4      Quentin Tarantino
...                  ...
1414   Marianna Economou
1415       May el-Toukhy
1416       Aimilia Milou
1417  Evi Kalogiropoulou
1418   Alexandra Matheou

[1419 rows x 1 columns]

In [6]:
df2['# director_name'].value_counts()

Jean-Luc Godard      6
Steven Spielberg     5
Charles Chaplin      5
Frank Darabont       5
Rob Reiner           5
                    ..
Paul Weitz           1
Kenneth Lonergan     1
Niels Arden Oplev    1
Zach Braff           1
Alexandra Matheou    1
Name: # director_name, Length: 862, dtype: int64

In [7]:
df2.drop_duplicates(subset ='# director_name',
                     keep = False, inplace = True)
df2

         # director_name
88     Franco Zeffirelli
95           Zack Snyder
137       Bobby Farrelly
154      Wilfred Jackson
164          Alex Gibney
...                  ...
1414   Marianna Economou
1415       May el-Toukhy
1416       Aimilia Milou
1417  Evi Kalogiropoulou
1418   Alexandra Matheou

[564 rows x 1 columns]

In [8]:
df2.to_csv('ALL_TOP_DIRECTORS.csv')