# Merging all actors into a single & unique CSV

In [1]:
import pandas as pd
import numpy as np

In [11]:
# merging all csv files
df = pd.concat(
    map(pd.read_csv, ['ultimate_actors_list.csv','all_popular_actors.csv', 'best_actors.csv', 'best_actors2.csv', 'best_actresses.csv', 'best_mixed_actors.csv']), ignore_index=True)
print(df)

           # actor_name
0     Katharine Hepburn
1        Ingrid Bergman
2          Meryl Streep
3           Bette Davis
4          Vivien Leigh
...                 ...
5841    Tiffany Haddish
5842  Timothée Chalamet
5843       Lucas Hedges
5844      Janelle Monáe
5845     Letitia Wright

[5846 rows x 1 columns]

# Removing duplicate names

In [14]:
actors_no_duplicates = df.drop_duplicates()

          # actor_name
107       Greer Garson
130      Emma Thompson
140        Viola Davis
143       Holly Hunter
144         Jane Wyman
..                 ...
279    Abigail Breslin
280     Mary McDonnell
281    Lorraine Bracco
282  Natascha McElhone
283         Helen Hunt

[100 rows x 1 columns]

In [16]:
actors_no_duplicates.to_csv('ALL_TOP_ACTORS.csv')

# Same for directors

In [20]:
# merging all csv files
df2 = pd.concat(
    map(pd.read_csv, ['ultimate_directors_list.csv', 'best_directors.csv', 'all_popular_directors.csv']), ignore_index=True)
print(df2)

          # director_name
0     Frances H. Flaherty
1              Maya Deren
2       Lila Kourkoulakou
3          Vera Chytilová
4          Mai Zetterling
...                   ...
3158    Marianna Economou
3159        May el-Toukhy
3160        Aimilia Milou
3161   Evi Kalogiropoulou
3162    Alexandra Matheou

[3163 rows x 1 columns]

In [21]:
df2['# director_name'].value_counts()

Sofia Coppola        12
Kathryn Bigelow      12
Alfred Hitchcock     10
Robert Zemeckis      10
Frank Darabont       10
                     ..
Alexander Kluge       1
Lauren Greenfield     1
Steve Buscemi         1
Denys Arcand          1
Uli Edel              1
Name: # director_name, Length: 1329, dtype: int64

In [17]:
directors_no_duplicates = df2.drop_duplicates()

In [18]:
directors_no_duplicates.to_csv('ALL_TOP_DIRECTORS.csv')