In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
title_akas = pd.read_csv("title_akas.tsv", sep='\t')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
us_movies=title_akas[title_akas['region']=='US']

In [9]:
usMoviesID=us_movies['titleId']

In [11]:
title_basics = pd.read_csv("title_basics.tsv", sep='\t')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [50]:
titleBasicsUS = title_basics[title_basics['tconst'].isin(usMoviesID)]

In [55]:
longUsMovies = titleBasicsUS[titleBasicsUS['titleType']=='movie']
df = longUsMovies['startYear'].apply(pd.to_numeric, errors='coerce')
longUsMovies = longUsMovies.assign(startYear = df)
LongUsMoviesWoNa = longUsMovies.dropna(axis = 0, subset = ['startYear'])

In [62]:
movieSelection = LongUsMoviesWoNa[LongUsMoviesWoNa['startYear'] > 1990]
len(recentLongUsMoviesWoNa)

147279

In [63]:
movieSelection['tconst']

34805      tt0035423
35545      tt0036177
61123      tt0062336
64097      tt0065392
67676      tt0069049
             ...
8462828    tt9915872
8462968    tt9916170
8462977    tt9916190
8463061    tt9916362
8463093    tt9916428
Name: tconst, Length: 147279, dtype: object

In [65]:
title_crew = pd.read_csv("title_crew.tsv", sep='\t')

In [72]:
title_crew = title_crew[title_crew['tconst'].isin(movieSelection['tconst'])]
title_crew

,tconst,directors,writers
34805,tt0035423,nm0003506,"nm0737216,nm0003506"
35545,tt0036177,nm0408348,"nm0411632,nm0412616"
61123,tt0062336,"nm0749914,nm0765384","nm0749914,nm1146177"
64097,tt0065392,"nm12030369,nm0300168,nm12030368",\N
67676,tt0069049,nm0000080,"nm0000080,nm0462648"
...,...,...,...
8462828,tt9915872,nm8063415,nm2507310
8462968,tt9916170,nm5412267,"nm5412267,nm6743460,nm3245789"
8462977,tt9916190,nm7308376,nm7308376
8463061,tt9916362,nm1893148,"nm1893148,nm3471432"
8463093,tt9916428,nm0910951,\N

In [69]:
title_principals = pd.read_csv("title_principals.tsv", sep='\t')

In [70]:
title_principals = title_principals[title_principals['tconst'].isin(movieSelection['tconst'])]
len(title_principals)

1160451

In [71]:
title_principals

,tconst,ordering,nconst,category,job,characters
282230,tt0035423,10,nm0107463,editor,\N,\N
282231,tt0035423,1,nm0000212,actress,\N,"[""Kate McKay""]"
282232,tt0035423,2,nm0413168,actor,\N,"[""Leopold""]"
282233,tt0035423,3,nm0000630,actor,\N,"[""Stuart Besser""]"
282234,tt0035423,4,nm0005227,actor,\N,"[""Charlie McKay""]"
...,...,...,...,...,...,...
47583252,tt9916428,3,nm8594703,actor,\N,"[""Dr. Hatem""]"
47583253,tt9916428,4,nm0422639,actress,\N,"[""Song Qingling""]"
47583254,tt9916428,5,nm0910951,director,\N,\N
47583255,tt9916428,6,nm8680851,actor,\N,"[""Powell Editor-in-chief of US newspaper""]"
47583256,tt9916428,7,nm3370295,actor,\N,"[""Train Station Manager""]"

In [73]:
title_ratings = pd.read_csv("title_ratings.tsv", sep='\t')

In [74]:
title_ratings = title_ratings[title_ratings['tconst'].isin(movieSelection['tconst'])]
len(title_ratings)

99150

In [75]:
title_ratings

            tconst  averageRating  numVotes
17794    tt0035423            6.4     81936
18427    tt0036177            7.3       113
40529    tt0062336            6.3       157
43167    tt0065392            7.4        12
46361    tt0069049            6.8      6930
...            ...            ...       ...
1197155  tt9915872            7.7         7
1197168  tt9916170            7.2         5
1197169  tt9916190            3.6       226
1197178  tt9916362            6.4      4085
1197181  tt9916428            3.8        14

[99150 rows x 3 columns]